.About {
  text-align: center;
  margin-top: 50px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: coral;
}
.btn {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
